name: "Test typescript-action"
on:
  pull_request:
  push:
    branches:
      - master
      - 'releases/*'

jobs:
  test:
    runs-on: ubuntu-latest
    steps:
    - uses: actions/checkout@v1

    - run: npm ci
    - run: npm run build
    - run: npm test
    - uses: ./
      with: 
        repo-token: ${{ secrets.GITHUB_TOKEN }}
        persons: "rowi1de"
        # teams: "no-team"
        include-draft: false
        skip-with-manual-reviewers: 1
